/* Common */
html, body {
  background-color: #d10029;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

/* Title */
#title {
  color: #d10029;
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  font-weight: bold;
  left: 20px;
  line-height: 24px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

/* Controls */
#controls {
  bottom: 20px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  white-space: nowrap;
}

#controls .button {
  background-color: #fff;
  border: none;
  color:#d10029;
  padding: 4px 12px;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: bold;
  min-width: 96px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

#controls .button:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

#controls .button:last-child {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

#controls .button:hover {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}

#controls .button.inactive {
  opacity: 0.5;
  pointer-events: none;
}

/* Info */
#info {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  color: #d10029;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: bold;
  left: 50%;
  padding: 12px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  user-select: none;
}

#info .icon {
  background-color: #d10029;
  border-radius: 100%;
  height: 24px;
  width: 24px;
}

#info .link {
  border-bottom: solid 2px #d10029;
  color: #d10029;
  cursor: default;
  display: inline-block;
  text-decoration: none;
}

#info .link:hover {
  border-color: #e6af2e;
  color: #e6af2e;
}

/* Loader */
#loader {
  background-color: #fff;
  border-radius: 100%;
  bottom: 0;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  color: #d10029;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: bold;
  height: 96px;
  left: 0;
  line-height: 96px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 96px;
  user-select: none;
}

#loader.ready {
  border-radius: 3px;
  width: 196px;
}

/* Enable Audio */
#button-enable-audio {
  background-color: #fff;
  border: none;
  border-radius: 3px;
  color:#d10029;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: bold;
  left: 50%;
  min-width: 96px;
  outline: none;
  padding: 4px 12px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}

#button-enable-audio:hover {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}

/* Animation */
.animation-pulse {
  animation-name: animation-pulse;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes animation-pulse {

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.animation-infinite {
  animation-iteration-count: infinite;
}

/* Debug */
#debug-meter {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  bottom: 20px;
  position: absolute;
  right: 20px;
}

/*# sourceMappingURL=/styles.8986bff4.css.map */